* text eol=lf

*.bat text
*.cfg text
*.conf text
*.css text
*.editorconfig text
*.htm text
*.html text
*.ini text
*.java text
*.jflex text
*.jflex-macro text
*.jj text
*.js text
*.jshintrc text
*.lic text
*.json text
*.launch text
*.md text
*.properties text
*.rslp text
*.sample text
*.scss text
*.sh text
*.sql text
*.svg text
*.tern-project text
*.txt text
*.xml text
*.xsl text
*.xslt text
*.vm text
*.VM text

*.vwr binary
*.VWR binary
*.png binary
*.PNG binary
*.jpg binary
*.JPG binary
*.jpeg binary
*.JPEG binary
*.gif binary
*.GIF binary
*.jar binary
*.JAR binary
*.war binary
*.WAR binary
*.zip binary
*.ZIP binary
*.pdf binary
*.PDF binary
*.odt binary
*.ODT binary
*.odp binary
*.ODP binary
*.doc binary
*.DOC binary
*.docx binary
*.DOCX binary
*.xls binary
*.XLS binary
*.xlsx binary
*.XLSX binary
*.dll binary
*.DLL binary
*.crx binary
*.CRX binary
*.cab binary
*.CAB binary
*.jasper binary
*.JASPER binary
*.pspimage binary
*.PSPIMAGE binary
*.swf binary
*.SWF binary
*.xpi binary
*.XPI binary
*.tif binary
*.TIF binary
*.tiff binary
*.TIFF binary
*.bmp binary
*.BMP binary
*.EXE binary
*.exe binary
*.ico binary
*.ICO binary
*.eot binary
*.EOT binary
*.idx binary
*.IDX binary
*.sqlite binary
*.SQLITE binary
*.ttf binary
*.TTF binary
*.woff binary
*.WOFF binary
*.bin binary
*.BIN binary